In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")
df.head()

                   location  total_sqft  bath  balcony  price  BHK
0  Electronic City Phase II      1056.0   2.0      1.0  39.07    2
1               Uttarahalli      1440.0   2.0      3.0  62.00    3
2        Lingadheeranahalli      1521.0   3.0      1.0  95.00    3
3                  Kothanur      1200.0   2.0      1.0  51.00    2
4                Whitefield      1170.0   2.0      1.0  38.00    2

In [5]:
location_df = pd.get_dummies(df["location"],dtype="int")
location_df

,Devarachikkanahalli,1st Phase JP Nagar,2nd Phase Judicial Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,AECS Layout,Abbigere,...,Vidyaranyapura,Vijayanagar,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10694,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10696,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df2 = pd.concat([df,location_df],axis="columns")

In [8]:
df2.head()

,location,total_sqft,bath,balcony,price,BHK,Devarachikkanahalli,1st Phase JP Nagar,2nd Phase Judicial Layout,5th Phase JP Nagar,...,Vidyaranyapura,Vijayanagar,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,Electronic City Phase II,1056.0,2.0,1.0,39.07,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Uttarahalli,1440.0,2.0,3.0,62.00,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Kothanur,1200.0,2.0,1.0,51.00,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Whitefield,1170.0,2.0,1.0,38.00,2,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [9]:
df3 = df2.drop(columns=['location'])
df3.head()

,total_sqft,bath,balcony,price,BHK,Devarachikkanahalli,1st Phase JP Nagar,2nd Phase Judicial Layout,5th Phase JP Nagar,6th Phase JP Nagar,...,Vidyaranyapura,Vijayanagar,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,others
0,1056.0,2.0,1.0,39.07,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1440.0,2.0,3.0,62.00,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1521.0,3.0,1.0,95.00,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1200.0,2.0,1.0,51.00,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1170.0,2.0,1.0,38.00,2,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
from sklearn.tree import Descisiontree
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, KFold

In [ ]:
models = {
    "Random Forest": RandomForestRegressor(
        min_samples_leaf=5, random_state=0
    ),
    "Hist Gradient Boosting": HistGradientBoostingRegressor(
        max_leaf_nodes=15, random_state=0, early_stopping=False
    ),
}
param_grids = {
    "Random Forest": {"n_estimators": [10, 20, 50, 100]},
    "Hist Gradient Boosting": {"max_iter": [10, 20, 50, 100, 300, 500]},
}
cv = KFold(n_splits=4, shuffle=True, random_state=0)

results = []
for name, model in models.items():
    grid_search = GridSearchCV(
        estimator=model,
        param_grid=param_grids[name],
        return_train_score=True,
        cv=cv,
    ).fit(X, y)
    result = {"model": name, "cv_results": pd.DataFrame(grid_search.cv_results_)}
    results.append(result)